<!doctype html>
<html lang="en-US">
<head>
  <title><%= html_title yield(:title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <meta name="author" content="<%= CONFIG['name'] %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/posts.rss" rel="alternate" title="RSS" type="application/rss+xml" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="//use.typekit.net/sbd3ukk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body class="<%= controller_name %> <%= action_name %>">
  <% unless @no_header %>
  <header>
    <div class="header">
      <div class="brand">
        <h1 class="brand__logo"><%= link_to CONFIG['title'], root_url %></h1>
        <span class="brand__tagline"><%= CONFIG['tagline'].html_safe %></span>
      </div>
      <div class="nav">
        <ul>
          <li><%= link_to 'About Me', '#' %></li>
          <% if CONFIG['dribbble'] %>
            <li><%= link_to 'Dribbble', 'http://dribbble.com/' + CONFIG['dribbble'] %></li>
          <% end %>
          <% if CONFIG['twitter'] %>
            <li><%= link_to '@' + CONFIG['twitter'], 'http://twitter.com/' + CONFIG['twitter'] %></li>
          <% end %>
          <% if CONFIG['github'] %>
            <!-- <li><%= link_to 'Code', 'https://github.com/' + CONFIG['github'] %></li> -->
          <% end %>
        </ul>
      </div>
    </div>
  </header>
  <% end %>

  <div class="cover"></div>

  <div class="container" id="container">
    <div class="content" id="content">
      <% if notice %><span class="notice"><%= notice %></span><% end %>
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>

  <% if CONFIG['google_analytics_id'] %>
    <!-- Google Analytics -->
    <script>
      var _gaq=[['_setAccount','<%= CONFIG['google_analytics_id'] %>'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  <% end %>

  <script>
    $(function(){
      var random = Math.floor(Math.random()*3);
      var images = ['fuji', 'lake', 'bridge'];

      $('.cover').css('background', 'url("/assets/cover-' + images[random] + '.jpg") no-repeat left center');
    });
  </script>
</body>
</html>
